In [56]:
import pandas as pd
from sklearn.metrics import f1_score, precision_score, recall_score

In [21]:
from sklearn.ensemble import RandomForestRegressor
import numpy as np

In [22]:
train_data = pd.read_csv("../final_train.csv")
train_data.head()

,Unnamed: 0,suspicious,turnover,transaction_count,io_ratio,age,is_pep,inactive_days_average,inactive_days_max,n_of_accounts,...,66,94,113,117,123,134,141,172,176,191
0,0,0,0.155125,-0.351472,0.142857,1.846726,0,-0.421064,0.109291,1.004971,...,0,0,0,0,0,1,0,0,0,0
1,2,0,-0.120970,-0.450145,0.666667,1.736926,0,-0.212421,-0.544681,0.002766,...,0,0,0,0,0,0,0,0,0,1
2,3,0,-0.113288,1.473972,0.308642,1.736926,0,-0.845109,-0.255424,0.002766,...,0,0,0,0,0,0,0,0,0,0
3,4,0,-0.046812,-0.499481,1.000000,-0.349274,0,1.886961,0.411125,2.007176,...,0,0,0,0,0,0,0,1,0,0
4,5,0,-0.125078,-0.450145,0.333333,-0.513974,0,-0.046033,-0.318306,0.002766,...,0,0,0,0,0,0,0,1,0,0

In [24]:
msk = np.random.rand(len(train_data)) < 0.8
train = train_data[msk]
val = train_data[~msk]

In [26]:
len(train)

639219

In [28]:
len(val)

160927

In [29]:
train_features = train.drop(["Unnamed: 0", "suspicious"], axis=1)
train_labels = train["suspicious"]

In [30]:
val_features = val.drop(["Unnamed: 0", "suspicious"], axis=1)
val_labels = val["suspicious"]

In [83]:
# Instantiate model with 1000 decision trees
rf = RandomForestRegressor(n_estimators = 100, max_depth=20, random_state = 42, n_jobs=4)

In [ ]:
# Train the model on training data
rf.fit(train_features, train_labels);

In [47]:
predictions = rf.predict(val_features)
predictions = list(map(lambda x: 0 if x < 0.5 else 1, predictions))

In [48]:
predictions[:10]

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [44]:
val_labels.head(10)

3     0
4     0
5     0
6     0
11    0
18    0
23    0
28    0
29    0
38    0
Name: suspicious, dtype: int64

In [51]:
sum(val_labels == predictions) / len(predictions)

0.9899954637817147

In [55]:
f1_score(val_labels, predictions)

0.13995726495726496

In [58]:
recall_score(val_labels, predictions)

0.07978075517661389

In [57]:
precision_score(val_labels, predictions)

0.5695652173913044

In [62]:
test_data = pd.read_csv("../final_test.csv")

In [63]:
test_data.head()

,Unnamed: 0,turnover,transaction_count,io_ratio,age,is_pep,inactive_days_average,inactive_days_max,n_of_accounts,distinct_counterparties,...,66,94,113,117,123,134,141,172,176,191
0,0,0.471334,-1.094329,0.00,1.023226,0,1.146650,0.775184,-43.457623,-3.71296,...,0,0,0,0,0,0,0,0,0,0
1,2,0.008375,-1.020324,0.25,-0.239474,0,-0.270841,0.209246,-43.457623,-3.71296,...,0,0,0,0,0,0,0,0,0,0
2,3,0.027804,-1.020324,0.50,-1.611974,0,-0.397604,0.649420,-43.457623,-3.71296,...,0,1,0,0,0,0,0,0,0,0
3,4,0.003783,-1.094329,0.00,0.035026,0,0.046536,0.033176,-43.457623,-3.71296,...,0,0,0,0,0,0,0,0,0,0
4,5,0.001540,-0.995656,0.00,1.956526,0,-0.322297,0.850642,-40.451008,-3.71296,...,0,0,0,0,0,0,0,1,0,0

In [70]:
test_predictions = rf.predict(test_data.drop(["Unnamed: 0"], axis=1))

test_predictions = list(map(lambda x: False if x < 0.5 else True, test_predictions))

In [71]:
sum(test_predictions) / len(test_predictions)

0.04771212017070839

In [72]:
test_predictions

[False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 True,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 ...]

In [73]:
original = pd.read_csv("../test.csv")

In [74]:
original.head()

,customer,category,turnover,transaction_count,io_ratio,age,nationality,is_pep,inactive_days_average,inactive_days_max,n_of_accounts,distinct_counterparties,channel_risk,atm_withdrawal,atm_deposit
0,91000000,0,1235859.85,1.0,0.00,64.0,33,0,106.42,107.0,2,1.0,0.046108,1235859.85,12549.438865
1,91000001,1,53087.97,3.0,0.00,0.0,172,0,69.28,139.0,1,1.0,0.414826,53087.97,116.106050
2,91000002,0,22003.25,4.0,0.25,41.0,33,0,30.94,62.0,2,1.0,0.030105,1066.98,106.434228
3,91000003,0,72947.07,4.0,0.50,16.0,94,0,24.19,97.0,2,1.0,0.025249,16701.34,106.455505
4,91000004,0,9964.06,1.0,0.00,46.0,50,0,47.84,48.0,2,1.0,0.083395,9964.06,118.541699

In [81]:
original[original["category"] == 0][test_predictions]["customer"].to_csv("../cust_nr.csv")

In [82]:
pd.read_csv("../cust_nr.csv")

             id
0      91000017
1      91000052
2      91000141
3      91000143
4      91000218
5      91000266
6      91000275
7      91000307
8      91000328
9      91000340
10     91000391
11     91000407
12     91000408
13     91000417
14     91000422
15     91000424
16     91000500
17     91000506
18     91000538
19     91000551
20     91000578
21     91000627
22     91000635
23     91000649
24     91000653
25     91000708
26     91000715
27     91000785
28     91000804
29     91000819
...         ...
38149  91999273
38150  91999277
38151  91999279
38152  91999407
38153  91999435
38154  91999478
38155  91999500
38156  91999515
38157  91999545
38158  91999553
38159  91999587
38160  91999597
38161  91999610
38162  91999623
38163  91999630
38164  91999651
38165  91999671
38166  91999718
38167  91999755
38168  91999767
38169  91999776
38170  91999803
38171  91999810
38172  91999813
38173  91999870
38174  91999894
38175  91999898
38176  91999907
38177  91999922
38178  91999927

[38179 rows x 1 columns]