## Import

In [523]:
import numpy as np
import pandas as pd

from sklearn import svm
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.preprocessing import MinMaxScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import recall_score, precision_score

## Load data

In [525]:
train_data = pd.read_csv("/Users/bojan/Downloads/final_train_companies.csv")
train_data.head()

,Unnamed: 0,category,suspicious,turnover,transaction_count,io_ratio,inactive_days_average,inactive_days_max,n_of_accounts,distinct_counterparties,...,50,66,94,113,123,134,141,172,176,191
0,1,0,0,-0.117401,-0.469817,0.5,0.687737,-0.450931,0.996488,-0.321589,...,0,0,0,0,0,0,0,0,0,0
1,23,0,0,-0.117224,-0.486643,1.0,-0.036124,-0.385296,-0.002259,-0.321589,...,0,0,1,0,0,0,0,0,0,0
2,31,1,0,-0.113700,-0.486643,0.0,-0.580980,-1.304184,0.996488,-0.321589,...,0,0,0,0,0,0,0,1,0,0
3,32,1,0,0.005481,-0.469817,0.5,-0.211600,-0.201519,-0.002259,-0.321589,...,0,0,0,0,0,0,0,0,0,0
4,33,0,0,-0.119004,-0.469817,0.0,-0.418837,-0.897248,-1.001005,-0.321589,...,0,0,1,0,0,0,0,0,0,0

In [526]:
train  = train_data

## Split train/validation

In [432]:
#msk = np.random.rand(len(train_data)) < 0.8
#train = train_data[msk]
#test = train_data[~msk]

In [486]:
#for i in range(1):
#    ovrsmpl = train[train['suspicious'] == 1]
#    train = pd.concat([train,ovrsmpl], axis=0)

In [494]:
len(train)

640110

In [527]:
X_train = train.drop(["Unnamed: 0", "suspicious"], axis=1)
y_train = train["suspicious"]

In [489]:
#test = pd.read_csv("/Users/bojan/Downloads/people_validate.csv")
#test.head()

,Unnamed: 0,suspicious,turnover,transaction_count,io_ratio,age,is_pep,inactive_days_average,inactive_days_max,n_of_accounts,...,distinct_counterparties_log,transaction_in,transaction_out,transaction_in_log,transaction_out_log,transaction_count_log,0,1,2,3
0,17,0,0.258922,-0.499660,1.000000,1.078080,0,0.757848,0.749150,1.005063,...,-0.615425,-0.432306,-0.524477,-0.721217,-0.888673,-0.996894,0,0,1,0
1,21,0,-0.116272,-0.005861,0.190476,1.462322,0,-0.740466,-0.293059,-0.998796,...,0.024637,-0.192152,0.076460,0.373006,0.928479,0.849211,0,0,1,0
2,25,0,-0.059747,5.154346,0.282609,-0.678453,0,-0.865404,-0.142378,0.003134,...,3.101643,4.690994,5.308143,2.573691,2.386152,2.300590,0,1,0,0
3,28,0,-0.115467,-0.474970,0.000000,1.352539,0,1.525107,1.778803,-0.998796,...,-0.615425,-0.512358,-0.453778,-0.721217,-0.444106,-0.576591,0,0,1,0
4,34,0,-0.087982,-0.474970,0.000000,0.364489,0,0.384911,0.259438,-0.998796,...,-0.615425,-0.512358,-0.453778,-0.721217,-0.444106,-0.576591,0,0,1,0

In [490]:
#X_test = test.drop(["Unnamed: 0", "suspicious"], axis=1)
#y_test = test["suspicious"]

## Define the SVM model

In [436]:
#scaling = MinMaxScaler(feature_range=(-1,1)).fit(X_train)

In [437]:
#X_train = scaling.transform(X_train)
#X_test = scaling.transform(X_test)

In [528]:
clf = RandomForestClassifier(n_estimators=100, max_depth=25, min_samples_split=500, class_weight={1:60})

In [529]:
clf.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight={1: 60}, criterion='gini',
            max_depth=25, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=500,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [530]:
clf.feature_importances_

array([6.24773320e-03, 5.89884989e-02, 2.81413360e-02, 1.26101789e-01,
       5.91509002e-02, 4.39641952e-02, 1.32762579e-02, 1.29359668e-02,
       7.33163037e-02, 6.06273073e-02, 3.97269000e-02, 7.13857846e-02,
       7.97126508e-02, 4.81176037e-02, 1.43223077e-02, 3.94285184e-02,
       2.57396581e-02, 3.50462650e-02, 2.20736309e-02, 2.70338632e-02,
       8.25051976e-03, 3.52580729e-03, 5.52855338e-03, 2.32696222e-03,
       9.46464453e-03, 3.62201135e-04, 4.72964383e-03, 3.35297104e-03,
       1.44553518e-02, 2.89574728e-02, 1.00240983e-02, 6.17622228e-03,
       2.49749371e-08, 1.75080562e-02])

In [531]:
len(X_train)

199854

In [476]:
#classifier = svm.SVC(C=1.0, kernel='linear', class_weight='balanced')
#classifier.fit(X_train, y_train)

In [499]:
y_pred = clf.predict(X_test)
print(confusion_matrix(y_test,y_pred))  
print(classification_report(y_test,y_pred))

[[148354  10005]
 [   780    897]]
             precision    recall  f1-score   support

          0       0.99      0.94      0.96    158359
          1       0.08      0.53      0.14      1677

avg / total       0.99      0.93      0.96    160036

In [503]:
y_pred_proba = clf.predict_proba(X_test)

In [511]:
pd.DataFrame(y_pred_proba).to_csv('validation_prob.csv')

In [478]:
sum(y_pred)

20998

In [479]:
recall_score(y_test,y_pred)

0.6528528528528529

In [480]:
precision_score(y_test,y_pred)

0.051766834936660636

In [532]:
test_data = pd.read_csv("/Users/bojan/Downloads/final_test_companies.csv")
test_data.head()
X_test_final = test_data.drop(["Unnamed: 0"], axis=1)

In [533]:
X_test_final.head()

,category,turnover,transaction_count,io_ratio,inactive_days_average,inactive_days_max,n_of_accounts,distinct_counterparties,channel_risk,atm_withdrawal,...,50,66,94,113,123,134,141,172,176,191
0,0,-0.118999,-0.452992,0.000000,0.507164,0.336686,-1.001005,-0.321589,0.414826,-0.032346,...,0,0,0,0,0,0,0,1,0,0
1,0,-0.119041,-0.486643,1.000000,0.594216,0.454829,-1.001005,-0.321589,0.504659,-0.032550,...,0,0,1,0,0,0,0,0,0,0
2,0,-0.079890,0.438739,0.410714,-0.799982,-0.595328,0.996488,-0.263997,0.414352,-0.032513,...,0,0,0,0,0,0,0,0,0,0
3,0,-0.106234,-0.352042,0.333333,-0.575883,-0.004615,0.996488,-0.321589,0.754793,-0.032445,...,0,0,0,0,0,0,0,0,0,0
4,0,-0.105683,0.253663,0.377778,-0.772729,-0.319662,-0.002259,0.715062,0.593112,-0.032564,...,0,0,1,0,0,0,0,0,0,0

In [373]:
#test_data_new = pd.read_csv("/Users/bojan/Documents/fraud_detection_model_CS/final_test.csv")
#test_data_new.head()

,Unnamed: 0,turnover,transaction_count,io_ratio,age,is_pep,inactive_days_average,inactive_days_max,n_of_accounts,distinct_counterparties,...,66,94,113,117,123,134,141,172,176,191
0,0,0.346167,-0.499481,0.00,1.023226,0,1.114928,-0.104507,0.002766,-0.324675,...,0,0,0,0,0,0,0,0,0,0
1,2,-0.116793,-0.425476,0.25,-0.239474,0,-0.302564,-0.670445,0.002766,-0.324675,...,0,0,0,0,0,0,0,0,0,0
2,3,-0.097363,-0.425476,0.50,-1.611974,0,-0.429327,-0.230271,0.002766,-0.324675,...,0,1,0,0,0,0,0,0,0,0
3,4,-0.121385,-0.499481,0.00,0.035026,0,0.014813,-0.846514,0.002766,-0.324675,...,0,0,0,0,0,0,0,0,0,0
4,5,-0.123628,-0.400808,0.00,1.956526,0,-0.354020,-0.029049,3.009381,-0.324675,...,0,0,0,0,0,0,0,1,0,0

In [516]:
X_test_final = test_data_new.drop(["Unnamed: 0"], axis=1)

In [212]:

#submision_data = submision_data[submision_data['category'] == 0]
#submision_data = submision_data[['customer']]

In [534]:
len(X_test_final)

199805

In [517]:
X_test_final.head()

,turnover,transaction_count,io_ratio,age,is_pep,inactive_days_average,inactive_days_max,n_of_accounts,distinct_counterparties,channel_risk,...,66,94,113,117,123,134,141,172,176,191
0,0.346167,-0.499481,0.00,1.023226,0,1.114928,-0.104507,0.002766,-0.324675,0.046108,...,0,0,0,0,0,0,0,0,0,0
1,-0.116793,-0.425476,0.25,-0.239474,0,-0.302564,-0.670445,0.002766,-0.324675,0.030105,...,0,0,0,0,0,0,0,0,0,0
2,-0.097363,-0.425476,0.50,-1.611974,0,-0.429327,-0.230271,0.002766,-0.324675,0.025249,...,0,1,0,0,0,0,0,0,0,0
3,-0.121385,-0.499481,0.00,0.035026,0,0.014813,-0.846514,0.002766,-0.324675,0.083395,...,0,0,0,0,0,0,0,0,0,0
4,-0.123628,-0.400808,0.00,1.956526,0,-0.354020,-0.029049,3.009381,-0.324675,0.162587,...,0,0,0,0,0,0,0,1,0,0

In [535]:
len(X_test_final)

199805

In [536]:
prd = clf.predict_proba(X_test_final)

In [537]:
pd.DataFrame(prd).to_csv('test_prob_companies.csv')