## Import

In [538]:
import numpy as np
import pandas as pd

from sklearn import svm
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.preprocessing import MinMaxScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import recall_score, precision_score

import warnings
warnings.filterwarnings('ignore')

## Load data

In [492]:
train_data = pd.read_csv("/Users/bojan/Downloads/people_train.csv")
train_data.head()

,Unnamed: 0,suspicious,turnover,transaction_count,io_ratio,age,is_pep,inactive_days_average,inactive_days_max,n_of_accounts,...,distinct_counterparties_log,transaction_in,transaction_out,transaction_in_log,transaction_out_log,transaction_count_log,0,1,2,3
0,0,0,0.143663,-0.351520,0.142857,1.846564,0,-0.421181,0.108757,1.005063,...,1.039112,-0.432306,-0.312382,-0.721217,0.260517,0.183046,0,0,1,0
1,2,0,-0.113321,-0.450280,0.666667,1.736781,0,-0.212764,-0.544194,0.003134,...,-0.615425,-0.352255,-0.489128,-0.174106,-0.888673,-0.330729,0,0,1,0
2,3,0,-0.106171,1.475538,0.308642,1.736781,0,-0.844768,-0.255389,0.003134,...,0.024637,1.488931,1.455079,1.819491,1.693087,1.667765,0,0,1,0
3,4,0,-0.044296,-0.499660,1.000000,-0.349103,0,1.884350,0.410118,2.006993,...,-0.615425,-0.432306,-0.524477,-0.721217,-0.888673,-0.996894,0,1,0,0
4,5,0,-0.117145,-0.450280,0.333333,-0.513778,0,-0.046556,-0.318172,0.003134,...,0.399049,-0.432306,-0.453778,-0.721217,-0.444106,-0.330729,0,1,0,0

In [493]:
train  = train_data

## Split train/validation

In [432]:
#msk = np.random.rand(len(train_data)) < 0.8
#train = train_data[msk]
#test = train_data[~msk]

In [486]:
#for i in range(1):
#    ovrsmpl = train[train['suspicious'] == 1]
#    train = pd.concat([train,ovrsmpl], axis=0)

In [494]:
len(train)

640110

In [495]:
X_train = train.drop(["Unnamed: 0", "suspicious"], axis=1)
y_train = train["suspicious"]

In [489]:
test = pd.read_csv("/Users/bojan/Downloads/people_validate.csv")
test.head()

,Unnamed: 0,suspicious,turnover,transaction_count,io_ratio,age,is_pep,inactive_days_average,inactive_days_max,n_of_accounts,...,distinct_counterparties_log,transaction_in,transaction_out,transaction_in_log,transaction_out_log,transaction_count_log,0,1,2,3
0,17,0,0.258922,-0.499660,1.000000,1.078080,0,0.757848,0.749150,1.005063,...,-0.615425,-0.432306,-0.524477,-0.721217,-0.888673,-0.996894,0,0,1,0
1,21,0,-0.116272,-0.005861,0.190476,1.462322,0,-0.740466,-0.293059,-0.998796,...,0.024637,-0.192152,0.076460,0.373006,0.928479,0.849211,0,0,1,0
2,25,0,-0.059747,5.154346,0.282609,-0.678453,0,-0.865404,-0.142378,0.003134,...,3.101643,4.690994,5.308143,2.573691,2.386152,2.300590,0,1,0,0
3,28,0,-0.115467,-0.474970,0.000000,1.352539,0,1.525107,1.778803,-0.998796,...,-0.615425,-0.512358,-0.453778,-0.721217,-0.444106,-0.576591,0,0,1,0
4,34,0,-0.087982,-0.474970,0.000000,0.364489,0,0.384911,0.259438,-0.998796,...,-0.615425,-0.512358,-0.453778,-0.721217,-0.444106,-0.576591,0,0,1,0

In [490]:
X_test = test.drop(["Unnamed: 0", "suspicious"], axis=1)
y_test = test["suspicious"]

## Define the SVM model

In [436]:
#scaling = MinMaxScaler(feature_range=(-1,1)).fit(X_train)

In [437]:
#X_train = scaling.transform(X_train)
#X_test = scaling.transform(X_test)

In [496]:
clf = RandomForestClassifier(n_estimators=100, max_depth=25, min_samples_split=500, class_weight={1:60})

In [497]:
clf.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight={1: 60}, criterion='gini',
            max_depth=25, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=500,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [498]:
clf.feature_importances_

array([1.60018179e-01, 1.66481731e-02, 6.27013412e-02, 8.36412841e-02,
       5.37759696e-04, 3.13857537e-02, 2.24259107e-02, 9.17171358e-03,
       6.22884499e-03, 3.95894587e-02, 7.25783879e-02, 3.53998331e-02,
       2.55737367e-03, 2.58533532e-03, 3.40906934e-03, 2.99822214e-03,
       4.99867281e-05, 4.52340627e-03, 7.45708818e-05, 7.68760883e-03,
       1.20914908e-03, 4.35010127e-05, 6.10662008e-03, 7.94410915e-03,
       3.56236834e-03, 5.45489804e-03, 1.25870294e-04, 8.01350750e-03,
       1.51983019e-01, 7.30484320e-02, 4.40317258e-02, 6.49988480e-03,
       3.26050319e-02, 1.61139767e-02, 2.53077080e-02, 1.51544658e-02,
       1.92393868e-02, 6.85856537e-03, 7.43062418e-03, 4.93141178e-03,
       1.23531576e-04])

In [475]:
len(X_train)

646052

In [476]:
#classifier = svm.SVC(C=1.0, kernel='linear', class_weight='balanced')
#classifier.fit(X_train, y_train)

In [499]:
y_pred = clf.predict(X_test)
print(confusion_matrix(y_test,y_pred))  
print(classification_report(y_test,y_pred))

[[148354  10005]
 [   780    897]]
             precision    recall  f1-score   support

          0       0.99      0.94      0.96    158359
          1       0.08      0.53      0.14      1677

avg / total       0.99      0.93      0.96    160036

In [503]:
y_pred_proba = clf.predict_proba(X_test)

In [511]:
pd.DataFrame(y_pred_proba).to_csv('validation_prob.csv')

In [478]:
sum(y_pred)

20998

In [479]:
recall_score(y_test,y_pred)

0.6528528528528529

In [480]:
precision_score(y_test,y_pred)

0.051766834936660636

In [513]:
test_data = pd.read_csv("/Users/bojan/Downloads/people_test_v2.csv")
test_data.head()
X_test_final = test_data.drop(["Unnamed: 0"], axis=1)

In [373]:
#test_data_new = pd.read_csv("/Users/bojan/Documents/fraud_detection_model_CS/final_test.csv")
#test_data_new.head()

,Unnamed: 0,turnover,transaction_count,io_ratio,age,is_pep,inactive_days_average,inactive_days_max,n_of_accounts,distinct_counterparties,...,66,94,113,117,123,134,141,172,176,191
0,0,0.346167,-0.499481,0.00,1.023226,0,1.114928,-0.104507,0.002766,-0.324675,...,0,0,0,0,0,0,0,0,0,0
1,2,-0.116793,-0.425476,0.25,-0.239474,0,-0.302564,-0.670445,0.002766,-0.324675,...,0,0,0,0,0,0,0,0,0,0
2,3,-0.097363,-0.425476,0.50,-1.611974,0,-0.429327,-0.230271,0.002766,-0.324675,...,0,1,0,0,0,0,0,0,0,0
3,4,-0.121385,-0.499481,0.00,0.035026,0,0.014813,-0.846514,0.002766,-0.324675,...,0,0,0,0,0,0,0,0,0,0
4,5,-0.123628,-0.400808,0.00,1.956526,0,-0.354020,-0.029049,3.009381,-0.324675,...,0,0,0,0,0,0,0,1,0,0

In [516]:
X_test_final = test_data_new.drop(["Unnamed: 0"], axis=1)

In [212]:

#submision_data = submision_data[submision_data['category'] == 0]
#submision_data = submision_data[['customer']]

In [514]:
len(test_data)

800195

In [517]:
X_test_final.head()

,turnover,transaction_count,io_ratio,age,is_pep,inactive_days_average,inactive_days_max,n_of_accounts,distinct_counterparties,channel_risk,...,66,94,113,117,123,134,141,172,176,191
0,0.346167,-0.499481,0.00,1.023226,0,1.114928,-0.104507,0.002766,-0.324675,0.046108,...,0,0,0,0,0,0,0,0,0,0
1,-0.116793,-0.425476,0.25,-0.239474,0,-0.302564,-0.670445,0.002766,-0.324675,0.030105,...,0,0,0,0,0,0,0,0,0,0
2,-0.097363,-0.425476,0.50,-1.611974,0,-0.429327,-0.230271,0.002766,-0.324675,0.025249,...,0,1,0,0,0,0,0,0,0,0
3,-0.121385,-0.499481,0.00,0.035026,0,0.014813,-0.846514,0.002766,-0.324675,0.083395,...,0,0,0,0,0,0,0,0,0,0
4,-0.123628,-0.400808,0.00,1.956526,0,-0.354020,-0.029049,3.009381,-0.324675,0.162587,...,0,0,0,0,0,0,0,1,0,0

In [518]:
len(X_test_final)

800195

In [519]:
prd = clf.predict_proba(X_test_final)

In [522]:
pd.DataFrame(prd).to_csv('test_prob.csv')